@import '../../../assets/general.scss';

.paging {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 30px;
  span {
    font-size: 12px;
    color: #27241d;
  }
  .btn-group {
    width: 45px;
    height: 28px;
    button {
      @extend %helper-button;
      position: relative;
      width: 100% !important;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 12px;
      border-radius: 2px;
      &:hover {
        background: transparent
          linear-gradient(359deg, #d0f5df 0%, #ffffff 100%) 0% 0% no-repeat
          padding-box;
      }
      &:focus {
        border-color: #44b498;
        background: transparent
          linear-gradient(182deg, #c5ebd6 0%, #d0f5df 100%) 0% 0% no-repeat
          padding-box;
        outline: none;
      }
      &:active,
      &:focus:active {
        border-color: #44b498;
        box-shadow: 0 0 0 4px #dbfbe7;
        background-color: #fff;
      }
      &.isOpen {
        border-color: #44b498;
        box-shadow: 0 0 0 4px #dbfbe7;
        background-color: #fff;
      }
      &:after {
        display: none;
      }
      .noItem {
        color: #8c867b;
      }
      svg {
        width: 8px;
      }
    }
    .dropdown-menu {
      border-color: #e0dcd3;
      box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.161);
      min-width: 45px;
      li {
        padding: 8px 12px;
        color: #2e2a22;
        font-size: 14px;
        line-height: 20px;
        margin-bottom: 2px;
        &:hover,
        &:focus,
        &:active {
          background-color: #e2fbeb;
          cursor: pointer;
        }
      }
    }
  }
  .paging__jump input {
    @extend %input-adm;
    width: 32px !important;
    height: 28px;
    padding: 5px;
    text-align: center;
    margin-left: 6px;
    font-size: 12px;
    color: #2e2a22;
    font-weight: 400;
    &:focus,
    &:active {
      @extend %input-focus;
    }
  }
}

::ng-deep pagination-controls {
  margin: 0 20px;
  .ngx-pagination {
    width: auto;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    li {
      font-size: 12px;
      line-height: 18px;
      padding: 0px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 28px;
      height: 28px;
      margin-top: 1px;
      margin-left: 4px;
      box-sizing: content-box !important;
      position: relative;
      a {
        color: #2e2a22;
        padding: 0;
        font-size: 12px;
        line-height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        span {
          color: #2e2a22;
          padding: 0;
          font-size: 12px;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background: transparent
            linear-gradient(360deg, #f7f7f5 0%, #ffffff 100%) 0% 0% no-repeat
            padding-box;
          border: 1px solid #b8b2a7;
          border-radius: 2px;
        }
      }
      &.current {
        background-color: transparent;
        span {
          color: #0c3f42;
          font-weight: 500;
          font-size: 12px;
          line-height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 28px;
          height: 28px;
          background: transparent
            linear-gradient(180deg, #c5ebd6 0%, #d0f5df 100%) 0% 0% no-repeat
            padding-box;
          border: 1px solid #44b498;
          border-radius: 2px;
        }
      }
      &.pagination-previous,
      &.pagination-next {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        margin-top: 0px;
      }
      &.small-screen {
        display: none !important;
      }
    }
    .pagination-previous a:hover {
      background: transparent;
    }
    .pagination-next a:hover {
      background: transparent;
    }
    .pagination-previous a::before,
    .pagination-previous.disabled::before {
      content: url('/assets/images/pagination-left.svg');
      margin: 0;
      position: absolute;
      left: 50%;
      top: 8px;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
    }

    .pagination-next a::after,
    .pagination-next.disabled::after {
      content: url('/assets/images/pagination-right.svg');
      margin: 0;
      position: absolute;
      left: 50%;
      top: 8px;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: center;
      background: #fff;
    }
  }
}
