<ul>
  <li>name: {{ author?.name }}</li>
  <li>date of birth: {{ author?.dateOfBirth | date }}</li>
  <li>date of dead: {{ author?.dateOfDeath | date }}</li>
  <li>birthplace: {{ author?.birthplace }}</li>
</ul>

<button (click)="updateAuthorName(author?.name)">Update name</button>

<h4>Photos</h4>
<img
  class="mx-2"
  *ngFor="let photo of author?.photos"
  [src]="photo?.uri"
  [alt]="photo?.title"
/>

<h4>Books</h4>

<div *ngFor="let book of author?.books">
  <p>ID: {{ book?.id }}</p>
  <p>title: {{ book?.title }}</p>
  <p>published: {{ book?.datePublished | date }}</p>
  <hr />
</div>
